<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel to SQL Converter</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>

    <link rel="stylesheet" href="/css/excelToSql.css">
    <script src="/js/excelToSql.js" defer></script>

</head>
<body>
<div class="container">
    <div class="form-container">
        <h2>Excel to SQL Converter</h2>
        <form id="excelToSqlForm" action="excelToSqlFile" method="post" enctype="multipart/form-data">
            <label for="file">1. Excel文件:</label>
            <input type="file" name="file" required>

            <label for="tableName">2. 表名:</label>
            <input type="text" name="tableName" required>

            <label for="sheetName">3. Sheet名称:</label>
            <select name="sheetName" id="sheetNameSelect" required>
                <!-- 这里动态填充 -->
            </select>

            <label for="type">4. 生成语句类型（必填）:</label>
            <select name="type" required onchange="toggleFields()">
                <option value="add">Add</option>
                <option value="update">Update</option>
                <option value="delete">Delete</option>
            </select>

            <label for="startIndex" class="hidden">5. 数据转换开始行，从0开始:</label>
            <input type="number" name="startIndex" class="hidden">

            <label for="endIndex" class="hidden">6. 数据转换结束行，从0开始:</label>
            <input type="number" name="endIndex" class="hidden">

            <label for="conditionNums" class="hidden">7.条件列编号，从0开始:</label>
            <input type="text" name="conditionNums" class="hidden">
            <button type="submit">生成SQL语句</button>
        </form>
    </div>

    <div class="result-container">
        <h2>sql脚本预览</h2>

        <pre id="result" class="language-sql"></pre>

        <button id="downloadButton" style="display: none;">下载结果</button>
    </div>
</div>
</body>
</html>
